#!/bin/bash
{% for rs in real_servers %}
VIP={{ rs.vip }}
case "$1" in
  start)
        ifconfig lo:{{ loop.index -1 }} $VIP/32 up
        route add -host $VIP dev lo
        echo 1 > /proc/sys/net/ipv4/conf/lo/arp_ignore
        echo 2 > /proc/sys/net/ipv4/conf/lo/arp_announce
        echo 1 > /proc/sys/net/ipv4/conf/all/arp_ignore
        echo 2 > /proc/sys/net/ipv4/conf/all/arp_announce
        echo "start LVS of REALServer IP"
        ;;
  stop)
        ifconfig lo:{{ loop.index -1 }} $VIP/32 down
        route del -host $VIP dev lo
        echo 0 > /proc/sys/net/ipv4/conf/lo/arp_ignore
        echo 0 > /proc/sys/net/ipv4/conf/lo/arp_announce
        echo 0 > /proc/sys/net/ipv4/conf/all/arp_ignore
        echo 0 > /proc/sys/net/ipv4/conf/all/arp_announce
        echo "stop LVS OF REALServer"
        ;;
*)
        echo "Usage: $0 {start|stop}"
esac
{% endfor %}
