- name: 传递cuda-rpm文件-3.1G
  copy:
    src: /data/cdh6-rpm/cuda-repo-rhel7-11-0-local-11.0.1_450.36.06-1.x86_64.rpm
    # 下载地址 http://developer.download.nvidia.com/compute/cuda/11.0.1/local_installers/cuda-repo-rhel7-11-0-local-11.0.1_450.36.06-1.x86_64.rpm
    dest: /tmp/cuda.rpm
  tags:
    - cuda

- name: 安装cuda
  yum:
    name: /tmp/cuda.rpm
  tags:
    - cuda

- name: 安装cuda、升级内核
  yum:
    name: "{{ packages }}"
  vars:
    packages:
    - kernel-devel-3.10.0-1127.10.1.el7.x86_64
    - kernel-3.10.0-1127.10.1.el7.x86_64
    - kernel-tools-libs-3.10.0-1127.10.1.el7.x86_64
    - kernel-headers-3.10.0-1127.10.1.el7.x86_64
    - kernel-tools-3.10.0-1127.10.1.el7.x86_64
    - nvidia-driver-latest-dkms 
    - cuda
    - nvidia-driver
  tags:
    - cuda


- name: 添加cuda环境
  blockinfile:
    path: /etc/profile
    block: |-
      CUDA_HOME=/usr/local/cuda
      PATH=/usr/local/cuda/bin:$PATH
      LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64:$LD_LIBRARY_PATH
    state: present
    create: yes
    backup: no
    marker: "# Ansible nvcc set {mark}"
  tags:
    - cuda


- name: 禁止nouveau驱动
  copy:
    src: nvidia-installer-disable-nouveau.conf
    dest: /etc/modprobe.d/nvidia-installer-disable-nouveau.conf


- name: 下载nvidia驱动
  get_url:
    #url: http://us.download.nvidia.com/XFree86/Linux-x86_64/440.82/NVIDIA-Linux-x86_64-440.82.run
    url: http://192.168.3.95/NVIDIA-Linux-x86_64-430.64.run
    dest: /tmp
    mode: 755


- name: 传递nvidia-docker.repo
  copy:
    src: nvidia-docker.repo
    dest: /etc/yum.repos.d/ 
  tags:
  - nvidia-docker

- name: 安装nvidia-container-runtime
  yum:
    name: nvidia-container-runtime-2.0.0-3.docker18.09.7.x86_64
  tags:
  - nvidia-docker
